.advertisementboard{
    padding: 20px;
    display: flex;
    .advimage{
        font-weight: bold;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-left: 30px;
    }


.greenboardslider{
    flex:1;
    img{
      
        height: 60%;
        width: 100%;
    }
 
}

}