
    .programs{
        .title{
            background: #23369D;
            padding: 25px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #fff;
            /* -webkit-box-orient: vertical; */
            /* -webkit-box-direction: normal; */
            -ms-flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            /* margin-left: 40px; */
            font-size: 18px;
            font-weight: bold;
            position: relative;
            overflow: hidden;
            border-radius: 0 10px 10px 0;
            width: 180px;
            span {
                z-index: 99999;
            }
            img
              {
                margin-bottom: 10px;
                height: 50px;
                z-index: 10;
              }
        }

        .progsliderContainer{
            button.slick-next, button.slick-next:hover{
                top: 4%;
            }
            button.slick-prev, button.slick-prev:hover{
                top: 4%;
            }
            .slick-slide{
                margin-top: 15px;
                padding: 0;
            }
            .slick-slide img{
                height: 80px;
            }
        }

    }





.programs .title::before{
    content: '';
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 7.5px;
    background-color: #ADEFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    z-index: 9;
    right: -31px;
    top: -22px;
    -webkit-animation: programs 10s linear infinite;
 }


 .programs .title::after{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 7.5px;
    background-color: #ADEFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    z-index: 9;
    left: 10px;
    bottom: 10px;
    -webkit-animation: programsafter 8s linear infinite;
 }




@keyframes programs {
    0%, 100% {
        right: -31px;
        top: -22px;
    }


    50% {
        right: 90%;
        top: 70%;
    }

}


@keyframes programsafter {
    0%, 100% {
        left: 10px;
        bottom: 10px;
    }


    50% {
        left: 70%;
        bottom: 90%;
    }

}


