.events{
    text-align: right;
    padding: 15px;
    h3{
        color:#030303;
        font-size: 18px;
        font-weight: bold;
    }
    .slick-slide{
        padding: 0;
    }
    .content{
        display: flex;
        align-items: center;
        .date{
            color: #81B400;
            font-weight: bold;
            font-size: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;

        }
        span{
            width: 1px;
            height: 80px;
            background: #eaeaea;
            margin: 0 17px;
        }
        .description{
            color: #979797;
            font-size: 12px;
        }
    }
}