@media only screen and (max-width: 900px) {
 
    body {
        // background: red  !important;
        padding: 5px !important;

    }
    .bg{
        display: none;
    }
    .userarea{
        .buttons{
            .green__btn{
            //    margin-left: 0  !important;
            }
            // flex-direction: column;
        }
       
    }
    .greencircle{
        display: none;
    }
    .orangecircle{
        display: none;
    }
    .apps{
        flex-direction: column  !important;
        
        .title{
            width: 100%;
            padding: 5px 30px;
            border-radius: 0;
            flex-direction: row;
            align-items: center;
            img{
                margin: 0;
            }
        }
        .appssliderContainer{
            width: 100%;
        }
    }
 
    .programs .progsliderContainer .slick-slide img {
        height: 80px;
        margin: 0 auto;
    }
    .apps .appsslider .slider__content img {
        height: 35px;
        margin: 10px;
    }
  }


  @media only screen and (max-width: 600px) {
    .userarea .buttons .red__btn, .userarea .buttons .green__btn {
        font-size: 14px;
    }
  }